<launch>
    <node pkg="point_cloud_convertor" type="point_cloud_convertor" name="point_cloud_convertor" output="screen">
        
        <param name="child_frame_id" value="velo_link"/>
        <param name="frame_id" value="/world"/>
        <param name="point_cloud_topic_name" value="/velodyne_points" />
        <!-- <param name="point_cloud_topic_name" value="/kitti/velo/pointcloud"/> -->
        <param name="object_avoidance_zone" value="20.0"/>
        <param name="ground_remove_angle" value="2"/>
        <param name="number_point_clouds_to_be_merged" value="1"/>
        <param name="number_of_components" value="7"/>
    </node>
</launch>
